body {
    background-image: url("../bilder/kar1.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    animation: slide 20s infinite;
}



@keyframes slide {
    25% {
        background: url("../bilder/kar2.png");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        max-height: 100%;
    }

    50% {
        background: url("../bilder/kar3.png");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        max-height: 100%;
    }

    75% {
        background: url("../bilder/kar4.png");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        max-height: 100%;
    }

    100% {
        background: url("../bilder/kar1.png");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        max-height: 100%;
    }
}



#total {
    height: 100%;
    width: 100%;
}

.containerBox {
    vertical-align: middle;
}


#stil {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.58);
    border-width: 1px;
    border-radius: 25px;
    border-color: navy;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    height: 40px;
    animation: border-width 0.6s ease-out;
    animation: height 0.6s ease-out;
}


#BillettType {
    height: 100%;
    width: 200px;
    display: none;
}

#minus1, #plus1, #minus2, #plus2, #minus3, #plus3, #minus4, #plus4, #minus5, #plus5, #minus6, #plus6, #minus7, #plus7 {
    font-size: 2px;
    height: 17px;
    width: 17px;
    padding: 2%;
}

#Plass_1 {
    display: inline-block;
}

#Plass_2 {
    display: inline-block;
}

#Pris, #Voksen, #Barn, #Student, #Honnor, #Verneplikt, #Ledsager, #button1, #TotalPris, #an {
    display: none;
}



#avgang {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.58);
    border-width: 1px;
    border-radius: 25px;
    border-color: navy;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    height: 38px;
    animation: border-width 0.7s ease-out;
    animation: height 0.7s ease-out;
    animation: border-color 0.7s ease-out;
}

    #avgang:hover {
        border-width: 2px;
        height: 39px;
        border-color: aquamarine;
    }


#destinasjon {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.58);
    border-width: 1px;
    border-radius: 25px;
    border-color: navy;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    height: 38px;
    animation: border-width 0.7s ease-out;
    animation: height 0.7s ease-out;
    animation: border-color 0.7s ease-out;
}

    #destinasjon:hover {
        border-width: 2px;
        height: 39px;
        border-color: aquamarine;
    }


.title {
    font-size: 16px;
    color: navy;
    margin-left: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.67);
    padding: 10px 25px 10px 15px;
    border-radius: 25px;
    height: auto;
    width: 60%;
}

.top {
    background-image: url("../bilder/lastned.png");
    background-repeat: no-repeat;
    background-size: 70%;
    width: 50%;
    height: 100px;
    position: relative;
    margin-top: 17px;
    margin-left: 250px;
    margin-bottom: 10px;
    transition: opacity 2s;
}






.Betaling {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 380px;
    width: 100%;
    background: rgba(225, 225, 225, 0.35);
    padding: 30px;
    border-radius: 25px
}

.knapp {
    margin-top: 1.5%;
    background-color: rgb(0, 133, 255);
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    color: white;
    border-color: rgba(34, 36, 255, 0.69);
    animation: border-color 0.7s ease-out;
    animation: background-color 0.7s ease-out;
    animation: color 0.7s ease-out;
    margin-left: 5px;
}

    .knapp:hover {
        border-color: rgb(0, 133, 255);
        background-color: white;
        color: navy;
    }

.type {
    text-align: center;
    display: block;
}

.dato {
    float: right;
    margin-right: 10%;
    background-color: rgba(255, 255, 255, 0.67);
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    height: auto;
    width: auto;
}

.resten {
    background-color: rgba(255, 255, 255, 0.67);
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    height: auto;
    width: auto;
    float: left;
}

#BillettType {
    position: relative;
    display: inline-block;
    margin-left: 10%;
    float: left;
}

.midten {
    position: absolute;
    text-align: center;
    display: inline-block;
}

.bilDato {
}

.bil {
    background-color: rgb(0, 133, 255);
    padding: 5px 7px 5px 7px;
    border-radius: 25px;
    color: white;
    border-color: rgba(34, 36, 255, 0.69);
    animation: border-color 0.7s ease-out;
    animation: background-color 0.7s ease-out;
    animation: color 0.7s ease-out;
    margin-left: 5px;
}

    .bil:hover {
        border-color: rgb(0, 133, 255);
        background-color: white;
        color: navy;
    }
