body {
    /*background-image: url("../bilder/kar1.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    animation: slide 20s infinite;    
}

@keyframes slide{
    25% {
        background: url("../bilder/kar2.png");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        max-height: 100%;
    }

    50% {
        background: url("../bilder/kar3.png");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        max-height: 100%;
    }

    75% {
        background: url("../bilder/kar4.png");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        max-height: 100%;
    }

    100% {
        background: url("../bilder/kar1.png");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        max-height: 100%;
    }
}

#total{
    height:100%;
    width:100%;
}

.containerBox {
    vertical-align: middle;
}

#destinasjon {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.58);
    border-width: 1px;
    border-radius: 25px;
    border-color: navy;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    height: 40px;
    animation: border-width 0.6s ease-out;
    animation: height 0.6s ease-out;
}

#destinasjon:hover {
    border-width: 2px;
    height: 43px;
}

.title {
    font-size: 16px;
    color: navy;
    margin-left: 2%;
}

#stil {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.58);
    border-width: 1px;
    border-radius: 25px;
    border-color: navy;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    height: 40px;
    animation: border-width 0.6s ease-out;
    animation: height 0.6s ease-out;
}


#BillettType{
    height:100%;
    width:200px;
    display:none;
}

#minus1, #plus1, #minus2, #plus2, #minus3, #plus3, #minus4, #plus4, #minus5, #plus5, #minus6, #plus6, #minus7, #plus7{
    font-size:2px;
    height:17px;
    width:17px;
    padding:2%;
}

#Plass_1 {
    display: inline-block;
}
#Plass_2{
    display:inline-block;
}

#Pris, #Voksen, #Barn, #Student, #Honnor, #Verneplikt, #Ledsager, #button1, #TotalPris, #an {
    display: none;
}


.top {
    background-image: url("../bilder/lastned.png");
    background-repeat: no-repeat;
    background-size: 70%;
    width: 50%;
    height: 100px;
    position: relative;
    margin-top: 17px;
    margin-left: 250px;
    margin-bottom: 10px;
    transition: opacity 2s;
}

#avgang {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.58);
    border-width: 1px;
    border-radius: 25px;
    border-color: navy;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    height: 40px;
    animation: border-width 0.6s ease-out;
    animation: height 0.6s ease-out;
}
